/*reset*/
* {
	outline: 0px;
	padding: 0px;
	margin: 0px;
	border: 0px;
  }


/*HTML for having buttons within buttons-use form rather than position: relative / absolute or as separate parts of larger div*/
<form id="big">
  <input type="text" id="search" value="Search"></input>
  <input type="submit" id="go" value="GO"></input>
</form>

/*wrapper*/
width: 970px;
height: 688px;
font-family: sans-serif;

/*header*/
width: 970px;
height: 100px;
margin: 0px auto;
display: block;
position: relative;  /*with overlapping image*/

/*elements of a div overlying an image*/
#ad {
  width: 205px;
  height: 349px;
  margin: 15px 0px 0px 0px;
  display: inline-block;
  background-image: url("internetimages/ad_background.png");

#ad h2 {
  color: white;
  text-align: center;
  font-weight: normal;
  display: block;
  margin: 20px 15px 0px 15px;
}
#ninja {
  width: 100px;
  height: auto;
  display: block;
  margin: 20px 70px 0px 50px;
}
#ad button {
  width: 145px;
  height: 30px;
  margin: 23px 30px 0px 30px; 
  background-image: linear-gradient(rgb(108, 206, 222), rgb(5, 193, 221));
  box-shadow: 0px 1px 1px 1px rgb(40, 40, 40);
  border-radius: 5px;
  /* fix if have time ---- condense font styles in one tag*/
  font-size: 14pt;
  font-family: sans-serif;
  color: white;
  display: block;
}

/*header trouble centering vertically. adjust line height by about height of element*/
line-height: 48px;

/*3 color horizontal gradient*/
background-image: linear-gradient( rgb(41, 104, 157), rgb(84, 132, 171), rgb(41, 104, 157));

/*main content*/
  width: 970px;
  height: 588px;
  margin: 0px auto;
  display: block;

/*side panel as div of main content*/
width: 205px;
height: 1000px;
margin: 0px auto;
display: inline-block;
vertical-align: top;

/*button part of side panel which is part of div of main content.*/
#but1 {
  width: 175px;
  height: 30px;
  margin: 20px 10px 0px 10px; 
  background-image: linear-gradient(rgb(84, 132, 171), rgb(41, 104, 157));
  box-shadow: 0px 1px 1px 1px rgb(150, 150, 150);
  border-radius: 5px;
  font-size: 12pt;
  font-family: sans-serif;
  color: white;
  display: block;

/*reg paragraph with small font*/
  font-size: 9pt;
  margin-bottom: 5px;

/*bold and color <span> categorized by class*/
.bold 
  font-weight: bold;
  color: black;

.blue 
  color: rgb(84, 132, 171);

/*getting a list to line up*/
  font-size: 9pt;
  margin: 0px 20px 5px 20px;

/*3 sided section border*/
border-top: rgb(84, 132, 171) 4px solid;
border-left: rgb(84, 132, 171) 4px solid;
border-right: rgb(84, 132, 171) 4px solid;