* {
	outline: 0px;
	padding: 0px;
	margin: 0px;
	border: 0px;
  }
#wrapper {
  width: 970px;
  height: 1200px;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
}
#header{
  width: 970px;
  height: 125px;
  display: block;
  margin: 0px auto;
}
#header img {
  width: 80px;
  height: auto;
  vertical-align: middle;
}
#header h1 {
  width: 690px;
  height: 42px;
  margin-left: 0px 0px 0px 60px;
  display: inline-block;
  vertical-align: top;
  padding-top: 20px;
  font-weight: normal;
}
#header span {
  color: rgb(38, 81, 117);
}
#header h2 {
  width: 960px;
  height: 42px;
  background-image: linear-gradient(to bottom, rgb(38, 81, 117), rgb(54, 116, 168));
  display: inline-block;
  vertical-align: top;
  color: white;
  padding: 20px 0px 0px 10px;
  font-weight: normal;
}
#maincontent {
  width: 970px;
  height: 675px;
  margin: 0px auto;
  background-color: yellow;
  vertical-align: top;
}
#leftmain {
  width: 200px;
  height: 675px;
  margin: 0px auto;
  display: inline-block;
  vertical-align: top;
  color: purple;
}
#rightmain {
  width: 770px;
  height: 675px;
  margin: 0px auto;
  display: inline-block;
  vertical-align: top;
  color: magenta;
}
